/* @color-1st: #ffea92;
@color-2nd: #5bc995;

@menu-width-desktop: 240px;
@menu-width-tablet: 90px;
@menu-width-smartphone: 230px;

@icon-url-base: "http://www.entypo.com/images/";
@icon-url-dashboard: "@{icon-url-base}/gauge.svg";
@icon-url-customers: "@{icon-url-base}/briefcase.svg";
@icon-url-users: "@{icon-url-base}/users.svg";
@icon-url-settings: "@{icon-url-base}/tools.svg"; */
*{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #000;
}
body {
	background: #fff;
	margin: 0;
	font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #000;
	padding-left: 240px;
}

main {
	position: relative;
	
    background: #f1f1f1;
}


.menu {
	background:  #fff;
	height: 100vh;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	outline: none;

	
}
.menu .avatar {
		background: #fff;
		padding: 2em 0.5em;
		text-align: center;

		
	}
/* .menu .avatar .icon i {
			font-size: 2rem;
            color: #000;
		} */
	
.menu .avatar h2 {
			font-weight: bold;
			margin-bottom: 0;
            text-decoration: none;
			color: #000;
		}
ul {
		list-style: none;
		padding: 0.5em 0;
		margin: 0;
}
li {
			padding: 0.5em 1em 0.5em 3em;
			font-size: 0.95em;
			font-weight: regular;
			background-repeat: no-repeat;
			background-position: left 15px center;
			background-size: auto 20px;
			transition: all 0.15s linear;
			cursor: pointer;
			color: #000;
}


:focus {
	outline: none;
}
.fp-name{
    text-decoration: none;
    font-weight: bolder;
}
ul li i{
    margin-right: 2rem;
}		
.w3-panel{
    padding: 2rem;
}
.w3-panel i{
    font-size: 1rem;
    margin-right:2rem;
}
.avatar .fp-name i{
    color: #000;
    font-size: 2em;
}
ul li a{
	color: #000;
}
.fp-name:hover{
	color: #fff;
	text-shadow: 1px 1px 1px;
	text-decoration: none;
}
 .fp-name .fa-regular fa-building:hover,.fp-name h2:hover {
	text-shadow: 1px 1px 1px;
	text-decoration: none;
}
ul li:hover{
	color: #fff;
	background-color: #f1f1f1;
	text-shadow: #000 2px;
}
ul li a:hover,ul li i:hover{
	color: #fff;
	text-shadow: #000  1px 1px 1px;
}
/* ------------------- */
/* not same */
/* home main*/

/* head  */
.pic-head{
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
    width: 1100px;
    height: 350px;
    background-image: url(img/fp_2.jpg) ;
    background-size: cover;
}
.pic-head h3,.pic-head h4{
    padding-top: 40px;
    color: #fff;
    text-shadow:2px 2px 5px rgb(136, 133, 133);
}
.pic-head h3{
    font-size: 4rem;
}
.pic-head h4{
    font-size: 2rem;
}

/* infor */

 .container{
	padding: 40px;
	background-color: #fff;
	border-radius: 10px;
  }
.photo-gallery h5,.address h5,.map h5 ,.information h5{
	color: #000;
	font-size: 2rem;
	/* padding: 10px; */
  }
  .photo-gallery,.address,.map,.information{
	margin: 50px;
  }
 .contain{
	display: flex;
	padding: 20px;
  }
  
  .column {
	flex: 1;	
}
.name{
	color: gray;
}
.detail{
	color: #000;
	font-size: large;
}



  
 

  














  /* media */
  @media (max-width:767px) {
	.photo-gallery h2 {
	  margin-bottom:25px;
	  padding-top:25px;
	  font-size:24px;
	}
  }
  
  .photo-gallery .intro {
	font-size:16px;
	max-width:500px;
	margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
	margin-bottom:0;
  }
  
  .photo-gallery .photos {
	padding-bottom:20px;
  }
  
  .photo-gallery .item {
	padding-bottom:30px;
  }
  
  
